<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Text Summarization App with Flask
		</div>	
	</div>
	</header>

	<div class="ml-container" style="text-align:center;">
		<h2>The app is developed for wikipedia text document summarization in 10 Lines</h2>
		<form action="/analyze_url" method="POST">
		<p>Enter your wiki link here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="summary">
		
	</form>
		
	</div>

	
	

</body>
</html>
<style>

input.btn-info {
    background: #106ebe;
    border: 1px solid #106ebe;
    color: #FFF;
    border-radius: 2px;
    padding: 5px 16px;
}

textarea {
    width: 40%;
    height: 100px;
    border: 1px solid #106ebe;
	border-radius: 10px;
}
div#brandname {
    background: #106ebe;
    padding: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}
</style>